.time-sheet {
  .v-data-table__wrapper {
    height: calc(100vh - 100px);
  }

  .v-data-table--fixed-header thead tr:nth-child(2) th {
    top: 70px;
  }

  table {
    .chkdate {
      width: 80px;
    }

    a {
      text-decoration: none;
    }

    thead tr {
      th {
        background-color: #f6f6f6 !important;
        color: #009688 !important;
      }

      :first-child {
        th {
          border-top: thin solid rgba(0, 0, 0, 0.12);
        }
      }
    }
    
    th, td {
      font-size: 1rem;
      height: 52px;
      border: thin solid rgba(0, 0, 0, 0.12);
    }

    tfoot tr {
      bottom: 0;
      position: -webkit-sticky;
      position: sticky;
      z-index: 4;
      background-color: #f6f6f6 !important;
      color: #009688 !important;
      font-weight: bold;
    }

    thead tr {
      bottom: 0;
      position: -webkit-sticky;
      position: sticky;
      z-index: 4;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }
}

.v-input--is-disabled.v-text-field--outlined {
  background-color: #d3d3d3;
}
.adls-table {
  .v-data-table__wrapper {
    height: calc(100vh - 260px);
  }
}
